.main-nav {
  display: flex;
  max-width: 450px;
  width: 100%;
  align-items: center;
  white-space: nowrap;

  &__logo {
    padding-top: 16px;
    padding-bottom: 16px;
    // margin-right: 276px;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
  .container {
    background-color: $primaryWhiteColor;
  }
}

.nav-list__link {
  color: $accentColor;
  position: relative;
}

.current::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: -1px;

  background-color: $accentColor;
  border-radius: 2px;
}
