.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  &.js-close-menu:hover,
  &.js-close-menu:focus {
    fill: $accentColor;
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  overflow-y: auto;

  background: $primaryWhiteColor;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu {
  // padding-top: 48px;
  margin-bottom: 20vh;
  margin: 0;
  list-style: none;
  margin-bottom: auto;

  &__item:not(:last-child) {
    margin-bottom: 32px;

    @media screen and (max-width: 390px) {
      margin-bottom: 22px;
    }
  }

  &__link {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    font-style: normal;
    letter-spacing: 0.02em;

    color: $primaryTextColor;

    @media screen and (max-width: 390px) {
      font-size: 25px;
    }

    &.current {
      color: $accentColor;
    }
  }
}

.mobile-contacts {
  &__tel-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1765;
    letter-spacing: 0.02em;
    color: $accentColor;

    @media screen and (max-width: 390px) {
      font-size: 20px;
    }
  }

  &__mail-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1666;
    letter-spacing: 0.02em;
    color: $secondaryTextColor;

    @media screen and (max-width: 390px) {
      font-size: 20px;
    }
  }

  &__tel-item {
    margin-bottom: 32px;

    @media screen and (max-width: 390px) {
      margin-bottom: 22px;
    }
  }

  &__mail-item {
    margin-bottom: 64px;

    @media screen and (max-width: 390px) {
      margin-bottom: 28px;
    }
  }
}

.mobile-menu .link {
  display: block;
}

.mobile-socials {
  display: flex;
  gap: 20px;
  max-width: 354px;
  width: 100%;

  @media screen and (max-width: 479px) {
    flex-wrap: wrap;
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222;
    letter-spacing: 0.02em;

    color: $accentColor;
  }
  &__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
