.works {
  padding-top: 0;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.thumb {
  position: relative;
}

.work {
  &__list {
    display: flex;
    padding-top: 0;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__img {
    display: block;
  }
  &__img-title {
    position: absolute;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $primaryWhiteColor;
  }
}

.title {
  @extend %title;
}
