.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  // padding-top: 60px;
  // padding-bottom: 60px;

  outline: 1px solid red;

  // phone screen
  @media screen and (min-width: 480px) {
    max-width: 450px;
    width: 100%;
  }

  // tablet screen
  @media screen and (min-width: 768px) {
    max-width: 738px;
    width: 100%;
  }

  // desktop screen
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    width: 100%;

    // padding-left: 15px;
    // padding-right: 15px;
  }
}
