$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$accentColor: #2196f3;
$primaryBgColor: #f5f5f5;
$secondaryBgColor: #f5f4fa;
$tertiaryBgColor: #2f303a;
$primaryWhiteColor: #ffffff;
$primaryBlackColor: #000000;
$secondaryWhiteColor: rgba(255, 255, 255, 0.6);
$specificIdent: 10px;
$imgIdent: 30px;
$iconBg: #afb1b8;
$border: 1px solid #eeeeee;

$mainFont: "Roboto", sans-serif;
$secondaryFont: "Raleway";
